<% content_for :head do %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAmBqzXvilpQ0kjH5WF5RrGrLYaDiBYE6Y&sensor=false", "maps/eventmap.js" %>
<% end %>

<% if @eventinvites != [] %>
	<div class="row-fluid">
		<div class="col-md-7">
			<div class="map" id="map-canvas"></div>
		</div>
		<div class="col-md-5">
			<div class="scrolling-event-inbox" align="center">
				<% @eventinvites.each do |invite| %>
					<%= render "modal" %>
					<a href="/showmodal?id=<%= invite.id %>">
						<div class="event-box" align="center" data-toggle="modal" data-target="#myModal">
								<div class="row-fluid">
									<div class="col-md-4">
										<img src="<%=invite.event.pic_big%>">
									</div>
									<div class="col-md-8">
										<div class="event-details">
											<div class="event-name"><%=invite.event.name[0..50].titleize%>...</div>
											<div class="row-fluid">
												<div class="col-md-6">
													<div class="calendar">
														<div class="month">
															<%=invite.event.start_time.to_datetime.strftime("%b")%>
														</div>
														<div class="day">
															<%= invite.event.start_time.to_datetime.day %>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<span class="event-datetime"><%=invite.event.start_time.to_datetime.strftime("%-I:%M %P")%></span>
													<span class="event-distance"></span>
												</div>
											</div>
										</div>
									</div>
								</div>

								



							</div>
						
					</a>
				<% end %>
			</div>
		</div>
	</div>
<% else %>
	<div class="container" align="center">
		<img src="/assets/loading.gif">
	</div>
<% end %>

<% if current_user.sign_in_count == 1 %>
<script type="text/javascript">
$(document).ready(function(){
	worker();
function worker(){
	$.ajax({
		type: "GET",
		url: '/poll_job',
		data: { job_id: "<%=@job_id%>" },
		dataType: "json",
		complete: function(response) {
			var contains = (window.location.href.indexOf('#loaded') > -1);
			if (response.responseText == "ready"){
				if(contains != true){
					window.location = window.location + "#loaded";
					window.location.reload();	
				};
				
			};
			if (response.responseText == "no"){
				setTimeout(worker, 1000);
				console.log(response.responseText);
			};
			if (response.responseText == "error"){
				setTimeout(worker, 2000);
			};
		}
	});	
};
});
</script>
<% end %>