<% if @eventinvites != [] %>
	<h1 align="center">Event Inbox </h1>

	<div class="map"><%= image_tag("map.png") %></div>

	<div class="event-boxes" align="center">
		<% @eventinvites.each_slice(3) do |batch| %>
			<div class="row-fluid event-trio">
				<% batch.each do |invite| %>
					<div class="col-md-4 event-box row" id="myModal<%=invite.id%>">
						<div class="col-md-5">
							<img src="<%=invite.event.pic_big%>">
						</div>
						<div class="event-details col-md-7">
							<span class="event-name"><%=invite.event.name[0..30].titleize%>...</span><br/><br/>
							<span class="event-datetime"><%=Date::MONTHNAMES[invite.event.start_time.to_datetime.month]%> <%= invite.event.start_time.to_datetime.day %> <%=invite.event.start_time.to_datetime.strftime("%-I:%M %P")%></span>
							<span class="event-distance">.1 miles</span>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>

	<!-- Modal --> 
	<div class="modal hide" id="myModal">
	  <div class="modal-header">
	    <button class="close" data-dismiss="modal">×</button>
	    <h3>Modal header</h3>
	  </div>
	  <div class="modal-body">
	    <p>One fine body…</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Close</a>
	    <a href="#" class="btn btn-primary">Save changes</a>
	  </div>
	</div>​
	<!-- End Modal -->
<% else %>
	<div class="container" align="center">
		<img src="/assets/loading.gif">
	</div>
<% end %>

<% if current_user.sign_in_count == 1 %>
<script type="text/javascript">
$(document).ready(function(){
	worker();
function worker(){
	$.ajax({
		type: "GET",
		url: '/poll_job',
		data: { job_id: "<%=@job_id%>" },
		dataType: "json",
		complete: function(response) {
			var contains = (window.location.href.indexOf('#loaded') > -1);
			if (response.responseText == "ready"){
				if(contains != true){
					window.location = window.location + "#loaded";
					window.location.reload();	
				};
				
			};
			if (response.responseText == "no"){
				setTimeout(worker, 1000);
				console.log(response.responseText);
			};
			if (response.responseText == "error"){
				setTimeout(worker, 2000);
			};
		}
	});	
};
});
</script>
<% end %>