<!DOCTYPE html>
<html>
<head>
  <title>Rally</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= render :partial => 'layouts/header' %>

<%= yield %>

<%= render :partial => 'layouts/footer' %>

</body>
</html>
